services:
  polis-server:
    build:
      context: .
      target: debug
      args:
        NODE_ENV: development
    volumes:
      # This will mount your current directory to /app in the container
      - .:/app
      - /app/node_modules
    ports:
      - "${API_SERVER_PORT:-5000}:${API_SERVER_PORT:-5000}"
      # Node debugger port
      - "9229:9229"
    depends_on:
      - polis-db
    env_file:
      - .env
    networks:
      - polis-net

  legacy-server:
    image: polis-server:legacy
    ports:
      - "5002:5000"
    depends_on:
      - polis-db
    env_file:
      - legacy.env
    networks:
      - polis-net

  polis-db:
    build:
      context: .
      dockerfile: Dockerfile-db
    environment:
      - POSTGRES_DB=${POSTGRES_DB:?error}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?error}
      - POSTGRES_USER=${POSTGRES_USER:?error}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - polis-net

  polis-math:
    depends_on:
      - polis-db
    build:
      context: ../math
    environment:
      - DATABASE_URL=${DATABASE_URL:?error}
      - LOGGING_LEVEL=warn
      - MATH_ENV=${MATH_ENV:-prod}
    networks:
      - "polis-net"

  maildev:
    image: docker.io/maildev/maildev:1.1.1
    networks:
      - polis-net
    ports:
      # User interface
      - "1080:1080"
      # SMTP port
      - "1025:1025"

networks:
  polis-net:
    name: polis-net

volumes:
  postgres_data:
