---
import Layout from './layouts/Layout.astro';
import Header from '../components/Header.astro';
import Survey from '../components/Survey.jsx'; 
import { getTranslations } from '../strings/strings';


// Mock API endpoint for survey details
const surveyDetailsResponse = await fetch('https://jsonplaceholder.typicode.com/posts/1');
const surveyDetails = await surveyDetailsResponse.json();

// Mock API endpoint for statements
const statementsResponse = await fetch('https://jsonplaceholder.typicode.com/comments');
const statements = await statementsResponse.json();

// Translations
const strings = await getTranslations();
---
<Layout>
  <div class="container">
    <Header />
    <h1>{surveyDetails.title}</h1>
    <p class="description">{surveyDetails.body}</p>
    <p class="conversation-intro" set:html={strings.participantHelpWelcomeText}></p>
    
    <Survey client:load initialStatements={statements} />

    <div style="margin-top: 3rem;">
        <div class="logo">p.</div>
    </div>
  </div>
</Layout>