name: E2E Tests

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - edge
    paths-ignore:
      - "**.md"

  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize Build Space
        uses: easimon/maximize-build-space@v10
        with:
          root-reserve-mb: 8192
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-docker-images: 'true' 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clean up runner space
        run: |
          echo "Initial disk space:"
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          # sudo rm -rf "$AGENT_TOOLSDIRECTORY"

          sudo apt-get clean

          # Prune Docker system aggressively
          docker system prune -af --volumes

          echo "Disk space after cleanup:"
          df -h

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and start Docker containers
        run: |
          docker compose -f docker-compose.yml -f docker-compose.test.yml --env-file test.env --profile postgres --profile local-services up -d --build

      - name: Health Check the Server http response
        uses: jtalk/url-health-check-action@v4
        with:
          url: http://localhost/api/v3/testConnection
          max-attempts: 10
          retry-delay: 10s

      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          config: baseUrl=http://localhost
          spec: cypress/e2e/!(third-party)/**/*.cy.js
          working-directory: e2e

      - name: Upload Cypress screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: e2e/cypress/screenshots

      - name: Upload Cypress videos
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-videos
          path: e2e/cypress/videos

      - name: Stop Docker containers
        if: always()
        run: docker compose -f docker-compose.yml -f docker-compose.test.yml --env-file test.env --profile postgres down
